<h1>Hello <%= current_user.name %>!</h1>

<h2>Create a table or edit a table!<h2>

<p> <a href="/logout">Log Out</a></p>
<% @tables.each do |table| %>
  <h4>Table Number: <a href="/tables/<%= table.id %>"><%= table.table_number %></a></h4>

  <p>Managing this Table:
  <%  table.users.each do |user| %>
  <%= user.name %> </p>
  <% end %>
  <form method="post" action="/tables/<%=table.id%>/delete">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Table">
  </form>

<% end %>
